@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    /* min-height: 83vmin; */
    padding-bottom: 69px;
    max-width: 1200px;
    margin: auto;
    margin-top: 80px!important;
}

.games-font {
    font-family: cursive,sans-serif;
}